@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
  overflow-x: hidden;
}

.navbar {
  background: rgba(0, 0, 0, 0.6);
}

.navbar-brand {
  font-family: "Great Vibes", cursive;
  font-size: 30px;
}

.video-background {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.video-background video {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../media/bg.png);
  background-size: cover;
  background-position: center;
}

#wedding {
  font-family: "Poppins", sans-serif;
}

#wedding h1 {
  font-weight: 600;
  color: #c9a0a5;
}

#wedding h3 {
  font-family: "Great Vibes", cursive;
  font-size: 38px;
  color: #c9a0a5;
  font-weight: 600;
}

.wedding {
  height: 250px;
}

.caption {
  position: absolute;
  top: 88%;
  width: 100%;
}

.caption img {
  height: 60px;
}

#course {
  font-family: "Poppins", sans-serif;
}

#course h1 {
  font-weight: 600;
  color: #c9a0a5;
}

.col-md-8 {
  margin: 2rem auto 8rem;
  padding-top: 2rem;
}
.col-md-8 h1 {
  font-size: 2.4rem;
}

.qr-image {
  max-height: 300px;
}

.donation {
  font-weight: 700;
}

.donation2 {
  font-weight: 700;
  margin-top: 0;
  padding-top: 0;
}

#course2 {
  margin-top: 50px;
  font-family: "Poppins", sans-serif;
}

#course2 h1 {
  font-weight: 600;
  color: #c9a0a5;
}

.gallery-container h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #c9a0a5;
}

.gallery-container p.page-description {
  text-align: center;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  margin: 10px auto;
  color: #888;
  font-size: 18px;
}

.tz-gallery {
  padding: 40px;
}

.tz-gallery .lightbox img {
  width: 100%;
  margin-bottom: 30px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.tz-gallery .lightbox img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.tz-gallery img {
  border-radius: 4px;
}

.baguetteBox-button {
  background-color: transparent !important;
}

footer .footer {
  font-family: "Great Vibes", cursive;
  font-size: 32px;
}
